<p id="notice"><%= notice %></p>

<p>
  <strong>Tag:</strong>
  <%= @tag_association.tag %>
</p>

<p>
  <strong>Task:</strong>
  <%= @tag_association.task %>
</p>

<%= link_to 'Edit', edit_tag_association_path(@tag_association) %> |
<%= link_to 'Back', tag_associations_path %>
