<div class="btn-group">
  <%= link_to "All Tasks", tasks_path, :class => "btn btn-primary" %>
  <%= link_to "Finished Tasks", completed_tasks_path, :class => "btn btn-primary" %>
  <%= link_to "Unfinished Tasks", pending_tasks_path, :class => "btn btn-primary" %>
  <%= link_to "Tasks By Category", settings_categories_path , :class => "btn btn-primary" %>
  <%= link_to "Tasks By Tag", settings_tags_path , :class => "btn btn-primary" %>
</div>