<p>
  <strong>Deadline at:</strong>
  <%= @task.deadline_at %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Note:</strong>
  <%= @task.note %>
</p>

<p>
  <strong>Is done:</strong>
  <%= @task.is_done %>
</p>


  <p>
    <strong>Category:</strong>
    <% unless @task.category.nil? %>
    <%=  @task.category.title  %>
    <% else %>
    task has no category
    <% end %>
  </p>


<p>
<strong>Tag:</strong>
<% @task.tags.each do |tag| %>
  <%= tag.title + "  ||  " %>
<% end %>
</p>

<%= link_to 'Edit', edit_task_path(@task) , :class => "btn btn-primary" %>
<%= link_to 'Back', tasks_path  , :class => "btn btn-primary"%>
